#####################################################
#
# List of approvers for caikit/caikit-computer-vision repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @alex-jw-brooks @gkumbhat @gabe-l-hart